.container {
    margin: 4px 0;
    border: 1px solid #565656;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 18px;
}

.post_item_wrapper {
    color: white;
}

.post_item_comments_wrapper {
}
